@media (max-width: 767px){
    .burger {
        display: block;
        width: 30px;
        height: 20px;
        position: fixed;
        z-index: 80;
        right: 17px;
        top: 17px;
        span{
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            &:first-child{
                transition: transform .5s ease, top .5s ease .2s;
                top: 0;
                transform: rotate(0deg);
            }
            &:nth-child(2){
                transition: opacity .5s .2s;
                top: 50%;
            }
            &:last-child{
                transition: transform .5s ease, top .5s ease .2s;
                top: 100%;
                transform: rotate(0deg);
            }
        }
    }
    .burger._active{
        span{

            &:first-child{
                transition: transform .5s ease .2s, top .5s ease;
                top: 50%;
                transform: rotate(45deg);
            }
            &:nth-child(2){
                transition: opacity .1s .2s;
                opacity: 0;
            }
            &:last-child{
                transition: transform .5s ease .2s, top .5s ease;
                top: 50%;
                transform: rotate(-45deg);
            }
        }
    }
}