@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/MyriadPro-Regular.eot);
    src: url(../fonts/MyriadPro-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/MyriadPro-Regular.otf) format('otf'),
         url(../fonts/MyriadPro-Regular.svg#MyriadPro-Regular) format('svg'),
         url(../fonts/MyriadPro-Regular.woff) format('woff'),
         url(../fonts/MyriadPro-Regular.woff2) format('woff2');
  }

@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700");