// <ПЕРЕМЕННЫЕ>================================================================================================
$screenSize: 1920;
$screenSizeMob: 770;
// <(конец)ПЕРЕМЕННЫЕ>=========================================================================================

@mixin adaptive-font-all($pcSize, $mobSize) {
    $adaptSize: $pcSize - $mobSize;
    $devAdaptSize: $adaptSize + $adaptSize * 0.7;
    @media (max-width: 767px){
        font-size: calc(#{$mobSize + px} + #{$devAdaptSize} * (100vw - 320px) / #{$screenSizeMob});
    }
    @media (min-width: 768px){
        font-size: calc(#{$mobSize + px} + #{$adaptSize} * (100vw/#{$screenSize}));
    }
}

@mixin adaptive-font-pc($pcSize, $mobSize){
    $adaptSize: $pcSize - $mobSize;
    @media (min-width: 768px){
        font-size: calc(#{$mobSize + px} + #{$adaptSize} * (100vw/#{$screenSize}));
    }
}

@mixin adaptive-font-mobile($pcSize, $mobSize){
    $adaptSize: $pcSize - $mobSize;
    $devAdaptSize: $adaptSize + $adaptSize * 0.7;
    @media (max-width: 767px){
        font-size: calc(#{$mobSize + px} + #{$devAdaptSize} * (100vw - 320px) / #{$screenSizeMob});
    }
}